<mat-toolbar [color]="'warn'">
    <mat-toolbar-row class="d-flex justify-content-around">
        <h1>Games & Toys</h1>
        <div class="search-form">
            <form class="search-form">
                <div class="form-wrap">
                    <input placeholder="Type to search..." type="text">
                    <button class="btn-search" type="submit">Search</button>
                </div>
            </form>
        </div>
        <div>
            aqui va el telefono
        </div>
        <div>
            aqui va el carrito
        </div>
    </mat-toolbar-row>
</mat-toolbar>