<div class="component-container mt-1">
  <app-home-slider></app-home-slider>

  <mat-tab-group>
    <mat-tab label="Last Added">
      <app-product-viewer></app-product-viewer>
    </mat-tab>
  </mat-tab-group>
  <mat-tab-group>
    <mat-tab label="Random Products">
      <app-product-viewer></app-product-viewer>
    </mat-tab>
  </mat-tab-group>

  <!-- <mat-tab-group>-->
  <!--<mat-tab label="Last Added">-->
  <!--<div class="carousel-container">-->
  <!--<carousel [height]="340">-->
  <!--<div class="carousel-cell" *ngFor="let product of products">-->

  <!--<mat-card class="product-card p-0">-->
  <!--<img [src]="product.picThumbnail" class="product-thumbnail" alt="ProductPicture">-->
  <!--<mat-card-content class="p-2">-->
  <!--<h3 class="m-0">{{product.name}}</h3>-->
  <!--<p>{{product.price | currency}}</p>-->
  <!--</mat-card-content>-->
  <!--<mat-card-actions class="d-flex justify-content-center">-->
  <!--<button mat-button color="warn"  [routerLink]="['/product',product.guid]">Buy</button>-->
  <!--</mat-card-actions>-->
  <!--</mat-card>-->
  <!--</div>-->
  <!--</carousel>-->
  <!--</div>-->
  <!--</mat-tab>-->
  <!--</mat-tab-group>-->
  <!--<mat-tab-group>-->
  <!--<mat-tab label="Inspired by your browsign history">-->
  <!--<div class="carousel-container">-->
  <!--<carousel [height]="340">-->
  <!--<div class="carousel-cell" *ngFor="let product of products">-->

  <!--<mat-card class="product-card p-0">-->
  <!--<img [src]="product.picThumbnail" class="product-thumbnail" alt="ProductPicture">-->
  <!--<mat-card-content class="p-2">-->
  <!--<h3 class="m-0">{{product.name}}</h3>-->
  <!--<p>{{product.price | currency}}</p>-->
  <!--</mat-card-content>-->
  <!--<mat-card-actions class="d-flex justify-content-center p-2">-->
  <!--<a mat-button color="warn" href="https://www.google.com/">Buy</a>-->
  <!--</mat-card-actions>-->
  <!--</mat-card>-->
  <!--</div>-->
  <!--</carousel>-->
  <!--</div>-->
  <!--</mat-tab>-->
  <!--</mat-tab-group>-->
</div>
