<div class="component-container mt-5">
  <mat-tab-group>
    <mat-tab label="Popular">
      <div class="carousel-container">
	<carousel [height]="340">
	<div class="carousel-cell" *ngFor="let product of products">

	  <mat-card class="product-card p-0">
	    <img [src]="product.picThumbnail" class="product-thumbnail" alt="ProductPicture">
	    <mat-card-content class="p-2">
	      <h3 class="m-0">{{product.name}}</h3>
	      <p>{{product.price | currency}}</p>
	    </mat-card-content>
	    <mat-card-actions class="d-flex justify-content-center">
	      <button mat-raised-button color="primary"  [routerLink]="['/product',product.guid]">Primary</button>
	    </mat-card-actions>
	  </mat-card>
	</div>
	</carousel>
      </div>
    </mat-tab>
  </mat-tab-group>
  <mat-tab-group>
    <mat-tab label="Inspired by your browsign history">
      <div class="carousel-container">
	<carousel [height]="340">
	<div class="carousel-cell" *ngFor="let product of products">

	  <mat-card class="product-card p-0">
	    <img [src]="product.picThumbnail" class="product-thumbnail" alt="ProductPicture">
	    <mat-card-content class="p-2">
	      <h3 class="m-0">{{product.name}}</h3>
	      <p>{{product.price | currency}}</p>
	    </mat-card-content>
	    <mat-card-actions class="d-flex justify-content-center p-2">
	      <a mat-button href="https://www.google.com/">Buy</a>
	    </mat-card-actions>
	  </mat-card>
	</div>
	</carousel>
      </div>
    </mat-tab>
  </mat-tab-group>

</div>
