<mat-toolbar class="menu-toolbar">
    <button mat-button [routerLink]="['/']" routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }">Products</button>

    <button mat-button [routerLink]="['/companies']" routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }">Companies</button>
    <button mat-button [routerLink]="['/aboutUs']" routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }">About us</button>
    <button mat-button [routerLink]="['/help']" routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }">Help</button>
    <button mat-button [routerLink]="['/contact']" routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }">Contact</button>
</mat-toolbar>