<mat-toolbar _ngcontent-ikv-c121="" role="heading" class="mat-toolbar page-header mat-toolbar-single-row">
  <h1 _ngcontent-ikv-c121="">{{title}}</h1>
  <button _ngcontent-ikv-c121="" mat-flat-button="" color="primary" [routerLink]="['/company']"
    class="mat-focus-indicator mat-flat-button mat-button-base">
    <span class="mat-button-wrapper">New Company</span>
    <span matripple="" class="mat-ripple mat-button-ripple"></span>
    <span class="mat-button-focus-overlay"></span></button>
</mat-toolbar>


<mat-card>Simple card</mat-card>
