<mat-toolbar _ngcontent-ikv-c121="" role="heading" class="mat-toolbar page-header mat-toolbar-single-row">
  <h1 _ngcontent-ikv-c121="">Companies</h1>
  <button _ngcontent-ikv-c121="" mat-flat-button="" color="primary" [routerLink]="['/company']"
    class="mat-focus-indicator mat-flat-button mat-button-base">
    <span class="mat-button-wrapper">New Company</span>
    <span matripple="" class="mat-ripple mat-button-ripple"></span>
    <span class="mat-button-focus-overlay"></span></button>
</mat-toolbar>

<div class="mat-elevation-z8">

  <table mat-table [dataSource]="dataSource" class="table">

    <!-- Name Column -->
    <ng-container matColumnDef="name" class="mat-column-name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <ng-container matColumnDef="actions" class="mat-column-actions">
      <th mat-header-cell *matHeaderCellDef> Actions </th>
      <td mat-cell *matCellDef="let row">
        <button mat-button color="primary" title="Delete">
          <mat-icon>delete</mat-icon>
        </button>
        <button mat-button color="primary" title="Edit">
          <mat-icon>edit</mat-icon>
        </button>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [length]="search.totalNumberOfRecords" [pageSize]="search.perPage" (page)="load($event)"
    [pageSizeOptions]="[1,5,10]">
  </mat-paginator>
</div>