<mat-toolbar class="navbar">
    <mat-toolbar-row class="d-flex justify-content-between">
        <span>Toys & Games</span>
        <!-- <app-search></app-search> -->
        <div class="desktop-menu">
            <button mat-button [matMenuTriggerFor]="menu">English</button>
            <mat-menu #menu="matMenu">
                <button mat-menu-item>English</button>
                <button mat-menu-item disabled>Spanish</button>
            </mat-menu>
            <button mat-button [routerLink]="['/account']">
                <mat-icon>person</mat-icon>My Account
            </button>
        </div>
        <div class="mobile-menu">
            <button mat-icon-button (click)="sidebar()">
                <mat-icon>menu</mat-icon>
            </button>
        </div>
    </mat-toolbar-row>
</mat-toolbar>
