$gr-gray-100: #b1b1b1;
$gr-gray-500: #3a4651;
$gr-gray-700: #2d363f;

$gr-green-500: #85ce36;
$gr-green-800: #68bc22;

$gr-white: #fff;

$gt-green: (
    50: #f0f9e7,
    100: #daf0c3,
    200: #c2e79b,
    300: #aadd72,
    400: #97d554,
    500: $gr-green-500,
    600: #c8c9c8,
    700: #72c229,
    800: $gr-green-800,
    900: #55b016,
    A100: #edffe3,
    A200: #ceffb0,
    A400: #aeff7d,
    A700: #9eff63,
    contrast: (
        50: #000000,
        100: #000000,
        200: #000000,
        300: #000000,
        400: #000000,
        500: #000000,
        600: #000000,
        700: #000000,
        800: #000000,
        900: #000000,
        A100: #000000,
        A200: #000000,
        A400: #000000,
        A700: #000000,
    ),
);
