@import "./_colors";

.main-container {
  height: 100vh;
  width: auto;
  background-color: $gr-gray-background;

  .app-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: auto;
    min-height:calc(100vh - 250px);
    padding-bottom:5rem;
  }
}

.container-spacer {
  flex: 1 1 auto;
}

.component-container{
   width: calc(100vw - 150px);

   @media only screen and (max-width: 600px) {
   width:calc(100vw - 40px);
   }
}
